.btn {
    /* padding: 15px 30px; */
    background-color: #f2a443;
    color: #fff;
    border: none;
    text-decoration: none;
}

.fs_btn {
    padding: 10px 15px;
}

.btn:hover {
    color: #fff;
    transition: 0.3s;
    background-color: #000;
}

.btn:not(:hover) {
    transition: 0.3s;
}

.btn_fill {
    top: -10%;
    margin-left: 20%;
    padding: 15px 170px;
}

.get_btn {
    width: 110px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    background-color: #fff;
}